[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/autoconf-archive"]
	path = third_party/autoconf-archive
	url = git://git.sv.gnu.org/autoconf-archive.git
